/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 30px 0;
}

.filters button {
	font-family: "Syne";
	font-size: 16px;
	padding: 9px 20px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background: white;
	color: #1D6154;
	cursor: pointer;
}

.filters button.active {
	background: #1D6154;
	color: white;
}

#login {
  width: 50%;
  margin: 150px auto 300px auto;
  text-align: center;
}

#login h2 {
  margin-bottom: 30px;
}

#login form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#login label {
  margin: 2em 0 1em 0;
}

#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"] {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  color: #3D3D3D;
}
.login-error {
  color: #D65353;
  text-align: center;
  margin-top: 10px;
  min-height: 18px;
}
.edit-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 59px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

body.edit-mode {
  padding-top: 59px;
}

.edit-btn {
  margin-left: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
/* ===== MODALE ===== */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.35);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-overlay.is-open {
  display: flex;
}

.modal {
  width: 630px;
  max-width: calc(100% - 40px);
  background: white;
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  background: transparent;
  font-size: 26px;
  cursor: pointer;
}

/* Pour la flèche en bas à gauche */
.modal-back {
  position: absolute;
  bottom: 30px;
  left: 30px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

.modal-title {
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  margin: 20px 0 30px;
}

.modal-separator {
  border: none;
  border-top: 1px solid #B3B3B3;
  margin: 20px auto;
  width: 420px;
  max-width: 100%;
}

.modal-primary {
  display: block;
  margin: 0 auto;
  width: 237px;
  height: 36px;
  border: none;
  border-radius: 60px;
  background: #1D6154;
  color: white;
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
}

.modal-primary:disabled {
  background: #A7A7A7;
  cursor: not-allowed;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 0 30px;
}

.modal-view-add { display: none; }

.upload-box {
  background: #E8F1F7;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  margin: 0 30px 20px;
}

.upload-preview {
  display: none;
  justify-content: center;
}

.upload-preview.has-image {
  display: flex;
}

.upload-preview img {
  max-height: 170px;
  object-fit: cover;
}

.upload-btn {
  margin: 10px auto 0;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background: #CBD6DC;
  cursor: pointer;
  font-weight: 600;
}

.upload-hint {
  margin-top: 6px;
  font-size: 10px;
  color: #444;
}

#add-work-form label {
  margin: 10px 30px 6px;
  display: block;
}

#add-work-form input,
#add-work-form select {
  margin: 0 30px 10px;
  width: calc(100% - 60px);
  height: 50px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.09);
}

.modal-error {
  color: #D65353;
  text-align: center;
  margin-top: 10px;
  min-height: 18px;
}
.modal-item {
  position: relative;
}

.modal-item img {
  width: 100%;
  display: block;
}

.trash-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
